<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTech ID</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="container">
            <div class="nav-container">
                <div class="nav-item">
                    <a href="index.html">
                        <img src="./sources/image/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="nav-item">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="blog.html" class="active">Blog</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-navy">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item" onclick="openNavbar()">
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav id="mobile">
        <div class="container">
            <div class="nav-item">
                <button id="btn-close" onclick="closeNavbar()">X</button>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="blog.html" class="active">Blog</a>
                    </li>
                    <li>
                        <a href="portfolio.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-navy">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navbar -->
    <!-- Header -->
    <header id="blog">
        <div class="container">
            <h1>Webtech <span class="c-red">Blog</span></h1>
        </div>
    </header>
    <!-- /Header -->
    <main>
        <!-- Blog Section -->
        <section id="blog">
            <div class="container">
                <div class="blog-container">
                    <div class="blog-item">
                        <div class="blog-item-image">
                            <img src="./sources/image/images (15).jpg" alt="Image">
                        </div>
                        <div class="blog-item-body">
                            <p class="blog-item-identity">Crafted by <span class="author">Stevan Andreas</span> |
                                <span class="date">29/08/2024</span> | <span class="views">24</span> views | <span
                                    class="comments">0</span> Comments
                            <h2 class="blog-item-title">Lorem ipsum dolor sit amet.</h2>
                            </p>
                            <p class="mb-15">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, corporis!
                                Consequatur, labore? Adipisci itaque, expedita accusantium ullam harum minima atque
                                voluptatem voluptate unde quasi dicta eligendi magnam odit, iste culpa. Nesciunt rem
                                perferendis nostrum minus ex. Officia autem labore pariatur minima obcaecati alias a
                                earum consequatur soluta vel, aut debitis illum ea quo reiciendis commodi praesentium
                                adipisci. Doloremque, recusandae! Eligendi modi iusto blanditiis ratione facere
                                dignissimos animi quae eaque officia? Numquam similique iusto, eveniet enim qui
                                reiciendis voluptas. Rerum laborum nulla ad saepe fugit ut accusantium inventore. Et
                                quos voluptatem, libero quaerat nobis accusamus tenetur adipisci a doloremque sequi, id
                                dignissimos sed placeat illum dolore veritatis ut laborum minima commodi! Nam dicta
                                facilis dolores error ab tempore magni modi possimus reprehenderit suscipit, voluptatum,
                                fugiat, iure ipsam delectus cum consequuntur assumenda sapiente inventore cumque. Magni
                                repellat exercitationem ad facilis recusandae perferendis unde dicta, ex, consequatur
                                quidem corrupti aliquam praesentium. Iure earum est rem, magni nulla maxime dolorum et
                                fuga, odio, placeat hic facere totam ducimus. Ducimus debitis accusamus nisi ullam
                                dignissimos animi consequatur sapiente sunt expedita? Aut maiores itaque porro totam
                                omnis cumque hic, sint error exercitationem dolor sapiente maxime necessitatibus dolorum
                                delectus perspiciatis quod ut inventore recusandae beatae in nulla officia? Hic libero
                                blanditiis sed facere porro quisquam enim quod vitae aspernatur officia eos tenetur
                                voluptates optio reiciendis fuga ex non consequuntur quasi, dolor, incidunt eaque? Ex
                                accusantium praesentium nobis molestiae expedita, deserunt, unde sapiente cumque
                                dolorum, officia eos id a inventore voluptate esse ullam doloribus perferendis quasi
                                eaque laboriosam nam iusto reiciendis eius saepe! Voluptatem repellendus esse commodi
                                doloremque tempora impedit fuga aliquam quasi harum, aspernatur, quaerat eveniet
                                inventore reprehenderit laudantium blanditiis ad vero, saepe ipsum ducimus repellat sint
                                iure ratione non voluptatum. Qui ex rem rerum autem, vero adipisci quas. Quam a ratione
                                quae illum. Provident illo exercitationem esse, quia quisquam magnam aliquam perferendis
                                dolor, sit rerum aut minus deserunt explicabo minima repudiandae est dolore quibusdam
                                dicta ut cupiditate. Commodi et ratione a doloremque quis corrupti odit similique autem
                                excepturi, laudantium quas quisquam reiciendis atque iste. Cum ad autem totam. Dolore
                                error fugiat consectetur consequatur impedit quas pariatur quaerat veritatis ipsa
                                perferendis explicabo assumenda esse vel harum at commodi, iusto incidunt necessitatibus
                                voluptas quae nemo suscipit aperiam. Deserunt est eligendi quisquam itaque ipsam eum
                                excepturi eos praesentium similique, repellat sequi ea consectetur magnam voluptas
                                debitis vitae! Quas cum mollitia explicabo molestiae quod? Soluta debitis iusto maiores
                                nemo. Aspernatur iusto itaque maiores qui voluptas? Culpa repellendus tempore minus
                                facilis recusandae quaerat cumque quos eius deleniti at explicabo ut consequuntur totam
                                quae modi vel corporis fugiat, optio adipisci natus perferendis. Nam quae quibusdam
                                consequatur eligendi. Inventore tenetur eligendi, recusandae ducimus perferendis
                                expedita ratione nemo odio, aspernatur officiis dolor? Aspernatur veritatis quis nam,
                                autem dolore facere aperiam iure vero. Nisi dolore magni sint, sed corporis cupiditate
                                consequuntur temporibus qui incidunt, consectetur mollitia, accusamus sapiente aut.
                                Accusamus enim, quae reprehenderit voluptatum itaque voluptatem in tempora eum odio esse
                                vel perspiciatis? Ducimus molestiae error dolorem sit veritatis esse optio facere
                                inventore impedit sunt.</p>
                        </div>
                        <div class="tag-blog-container">
                            <div class="tag-blog-item">Lorem</div>
                            <div class="tag-blog-item">Lorem</div>
                            <div class="tag-blog-item">Lorem</div>
                            <div class="tag-blog-item">Lorem</div>
                            <div class="tag-blog-item">Lorem</div>
                            <div class="tag-blog-item">Lorem</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="comment">
            <div class="container">
                <h1 class="section-title">Comments</h1>
                <div class="comment-list-container">
                    <div class="comment-item">
                        <div class="comment-item-header">
                            <img src="./sources/image/images (13).jpg" alt="Profile Picture">
                            <span>
                                <h3>Jackie Sun</h3>
                                <div class="date">29/08/2024</div>
                            </span>
                        </div>
                        <div class="comment-item-body">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus repudiandae obcaecati expedita nihil unde, facilis tenetur dolor natus accusantium pariatur et quisquam aut aspernatur quasi sapiente minus magni iure culpa?</p>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="comment-item-header">
                            <img src="./sources/image/images (13).jpg" alt="Profile Picture">
                            <span>
                                <h3>Jackie Sun</h3>
                                <div class="date">29/08/2024</div>
                            </span>
                        </div>
                        <div class="comment-item-body">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus repudiandae obcaecati expedita nihil unde, facilis tenetur dolor natus accusantium pariatur et quisquam aut aspernatur quasi sapiente minus magni iure culpa?</p>
                        </div>
                    </div>
                </div>
                <h1 class="section-title">Leave a comments</h1>
                <div class="comment-fields-container">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Website">
                    <input type="text" placeholder="Subject">
                    <textarea name="comment" id="comment" placeholder="Comment"></textarea>
                    <div class="comment-fields-footer">
                        <div class="captcha">
                            <div class="captcha-key">XsaaYas</div>
                            <input type="text" placeholder="Input Captcha" class="captcha-value">
                        </div>
                        <button class="btn btn-red">Post Comment</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Blog Section -->
    </main>

    <!-- Footer -->
    <footer>
        <div class="socials">
            <a href="#"><img src="./sources/socials/instagram.png" alt="Instagram Icon"></a>
            <a href="#"><img src="./sources/socials/fb.png" alt="Facebook Icon"></a>
            <a href="#"> <img src="./sources/socials/youtube.png" alt="Youtube Icon"></a>
        </div>
        <div class="copyright">
            <p>Copyright @WebtechID 2024 | Designer by : Stevan Andreas</p>
        </div>
    </footer>
    <!-- /Footer -->

    <script src="script.js"></script>
</body>

</html>