<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTech ID</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Navbar Start -->
    <nav>
        <div class="container">
            <div class="nav-body">
                <div class="nav-item">
                    <a href="index.html">
                        <img src="./sources/image/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="nav-item">
                    <ul>
                        <li>
                            <a href="index.html" class="active">Home</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-navy">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Header Start -->
    <header>
        <div class="container">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src="image1.jpg" alt="Image 1">
                    </div>
                    <div class="slide">
                        <img src="image2.jpg" alt="Image 2">
                    </div>
                    <div class="slide">
                        <img src="image3.jpg" alt="Image 3">
                    </div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <main>
        <!-- Gallery Section -->
        <section id="gallery">
            <div class="container">
                <div class="gallery-item">
                    <img src="./sources/image/images (2).png" alt="Image">
                </div>
                <div class="gallery-item">
                    <img src="./sources/image/images (2).png" alt="Image">
                    <img src="./sources/image/images (3).webp" alt="Image">
                    <img src="./sources/image/images (7).webp" alt="Image">
                    <img src="./sources/image/images (14).jpg" alt="Image">
                </div>
            </div>
        </section>
        <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="about-image">
                    <!-- image 5 -->
                    <div class="image"></div>
                    <div class="image"></div>
                </div>
                <div class="about-body">
                    <h1>Contribute in web technologies for the world with us!</h1>
                </div>
            </div>
        </section>
        <!-- News Section -->
        <section id="news">
            <div class="container">
                <h3 class="section-title">News</h3>
                <div class="news-container">
                    <div class="news-item">
                        <div class="news-image">
                            <img src="./sources/image/images (2).png" alt="Image">
                        </div>
                        <div class="news-title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, inventore?</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-image">
                            <img src="./sources/image/images (2).png" alt="Image">
                        </div>
                        <div class="news-title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, inventore?</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-image">
                            <img src="./sources/image/images (2).png" alt="Image">
                        </div>
                        <div class="news-title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, inventore?</a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-red">See More</button>
            </div>
        </section>
        <!-- Services Section -->
        <section id="services">
            <div class="container">
                <h3 class="section-title">Services</h3>
                <div class="services-container">
                    <div class="services-item">
                        <div class="services-item-title">
                            <h4>Game Development</h4>
                        </div>
                        <div class="services-item-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptatem excepturi, dolorem
                            officia neque recusandae laudantium provident reprehenderit inventore corporis dolores
                            minima quaerat a fugit iure, consectetur placeat ducimus repellat eveniet labore deserunt
                            quam voluptate. Iure, voluptate ipsum obcaecati, voluptatibus maiores tempore alias rem
                            aliquid ea saepe molestias, cumque dolorem!
                        </div>
                        <div class="services-item-action">
                            <span>-></span>
                        </div>
                    </div>
                    <div class="services-item">
                        <div class="services-item-title">
                            <h4>UI/UX Design</h4>
                        </div>
                        <div class="services-item-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptatem excepturi, dolorem
                            officia neque recusandae laudantium provident reprehenderit inventore corporis dolores
                            minima quaerat a fugit iure, consectetur placeat ducimus repellat eveniet labore deserunt
                            quam voluptate. Iure, voluptate ipsum obcaecati, voluptatibus maiores tempore alias rem
                            aliquid ea saepe molestias, cumque dolorem!
                        </div>
                        <div class="services-item-action">
                            <span>-></span>
                        </div>
                    </div>
                    <div class="services-item">
                        <div class="services-item-title">
                            <h4>Web Development</h4>
                        </div>
                        <div class="services-item-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam voluptatem excepturi, dolorem
                            officia neque recusandae laudantium provident reprehenderit inventore corporis dolores
                            minima quaerat a fugit iure, consectetur placeat ducimus repellat eveniet labore deserunt
                            quam voluptate. Iure, voluptate ipsum obcaecati, voluptatibus maiores tempore alias rem
                            aliquid ea saepe molestias, cumque dolorem!
                        </div>
                        <div class="services-item-action">
                            <span>-></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Section -->
        <section id="portfolio">
            <div class="container">
                <h3 class="section-title">Portfolio</h3>
                <div class="portfolio-container">
                    <div class="portfolio-item">
                        <div class="portfolio-item-image">
                            <img src="./sources/image/images (15).jpg" alt="Image">
                        </div>
                        <div class="portfolio-item-body">
                            <h4 class="portfolio-item-title">Lorem ipsum dolor sit amet.</h4>
                            <p>Crafted by <span class="author">Stevan Andreas</span> | <span class="date">29/08/2024</span> |  <span class="views">24</span> views | <span class="comments">0</span> Comments</p>
                            <p class="mb-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore consectetur neque enim in? Quo dicta omnis eos iusto voluptate, officia iste quod, nihil tenetur nobis reiciendis iure velit quis expedita cum veritatis tempora! Assumenda architecto, maxime unde dignissimos dolores sit explicabo doloremque natus numquam nisi reprehenderit libero hic accusamus ipsum?</p>
                            <button class="btn btn-red">See Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials Section -->
        <section id="testimonials">
            <div class="container">
                <h3 class="section-title">Testimonials</h3>
                <div class="testimonials-container">
                    
                </div>
            </div>
        </section>
    </main>

    <script src="script.js"></script>
</body>

</html>