<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTech ID</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="container">
            <div class="nav-container">
                <div class="nav-item">
                    <a href="index.html">
                        <img src="./sources/image/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="nav-item">
                    <ul>
                        <li>
                            <a href="index.html" class="active">Home</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-navy">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item">
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav id="mobile">
        <div class="container">
            <button class="btn" id="btn-close">X</button>
            <div class="nav-item">
                <ul>
                    <li>
                        <a href="index.html" class="active">Home</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="portfolio.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-navy">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navbar -->
    <!-- Header -->
    <header>
        <div class="container">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src="./sources/image/images (14).jpg" alt="Image">
                    </div>
                    <div class="slide">
                        <img src="./sources/image/images (15).jpg" alt="Image">
                    </div>
                    <div class="slide">
                        <img src="./sources/image/images (16).jpg" alt="Image">
                    </div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </header>
    <!-- /Header -->
    <main>
        <!-- Gallery Section -->
        <section id="gallery">
            <div class="container">
                <div class="gallery-container">
                    <div class="gallery-item item1">
                        <img src="./sources/image/images (2).png" alt="Image 1">
                    </div>
                    <div class="gallery-item item2">
                        <img src="./sources/image/images (4).png" alt="Image 2">
                    </div>
                    <div class="gallery-item item3">
                        <img src="./sources/image/images (3).webp" alt="Image 3">
                    </div>
                    <div class="gallery-item item4">
                        <img src="./sources/image/images (7).webp" alt="Image 4">
                    </div>
                    <div class="gallery-item item5">
                        <img src="./sources/image/images (14).jpg" alt="Image 5">
                    </div>
                </div>
            </div>
        </section>
        <!-- /Gallery Section -->
        <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="about-container">
                    <img src="./sources/image/images (5).jpg" alt="Image Left" class="image-left">
                    <div class="text-center">
                        Contribute in web technologies for the world with us!
                    </div>
                    <img src="./sources/image/images (5).jpg" alt="Image Right" class="image-right">
                </div>
            </div>
        </section>
        <!-- /About Section -->
        <!-- News Section -->
        <section id="news">
            <div class="container">
                <h1 class="section-title">News</h1>
                <div class="news-container">
                    <div class="news-item">
                        <div class="news-image">
                            <img src="./sources/image/images (2).png" alt="Image">
                        </div>
                        <div class="news-title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, inventore?</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-image">
                            <img src="./sources/image/images (2).png" alt="Image">
                        </div>
                        <div class="news-title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, inventore?</a>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="news-image">
                            <img src="./sources/image/images (2).png" alt="Image">
                        </div>
                        <div class="news-title">
                            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, inventore?</a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-red see">See More</button>
            </div>
        </section>
        <!-- /News Section -->
        <!-- Services Section -->
        <section id="services">
            <div class="container">
                <h1 class="section-title">Services</h1>
                <div class="services-container">
                    <div class="services-item">
                        <div class="services-item-title">
                            <h4>Game Development</h4>
                        </div>
                        <div class="services-item-description">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolore. Eaque qui
                                laudantium doloremque ab. Officiis alias doloribus unde iste ex aliquid nesciunt ipsum
                                delectus sunt, illum atque neque aliquam!</p>
                        </div>
                        <div class="services-item-action">
                            <span>-></span>
                        </div>
                    </div>
                    <div class="services-item">
                        <div class="services-item-title">
                            <h4>UI/UX Design</h4>
                        </div>
                        <div class="services-item-description">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolore. Eaque qui
                                laudantium doloremque ab. Officiis alias doloribus unde iste ex aliquid nesciunt ipsum
                                delectus sunt, illum atque neque aliquam!</p>
                        </div>
                        <div class="services-item-action">
                            <span>-></span>
                        </div>
                    </div>
                    <div class="services-item">
                        <div class="services-item-title">
                            <h4>Web Development</h4>
                        </div>
                        <div class="services-item-description">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolore. Eaque qui
                                laudantium doloremque ab. Officiis alias doloribus unde iste ex aliquid nesciunt ipsum
                                delectus sunt, illum atque neque aliquam!</p>
                        </div>
                        <div class="services-item-action">
                            <span>-></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Services Section -->
        <!-- Portfolio Section -->
        <section id="portfolio">
            <div class="container">
                <h1 class="section-title">Portfolio</h1>
                <div class="portfolio-container">
                    <div class="portfolio-item">
                        <div class="portfolio-item-image">
                            <img src="./sources/image/images (15).jpg" alt="Image">
                        </div>
                        <div class="portfolio-item-body">
                            <h2 class="portfolio-item-title">Lorem ipsum dolor sit amet.</h2>
                            <p class="portfolio-item-identity">Crafted by <span class="author">Stevan Andreas</span> |
                                <span class="date">29/08/2024</span> | <span class="views">24</span> views | <span
                                    class="comments">0</span> Comments
                            </p>
                            <p class="mb-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                consectetur neque enim in? Quo dicta omnis eos iusto voluptate, officia iste quod, nihil
                                tenetur nobis reiciendis iure velit quis expedita cum veritatis tempora! Assumenda
                                architecto, maxime unde dignissimos dolores sit explicabo doloremque natus numquam nisi
                                reprehenderit libero hic accusamus ipsum?</p>
                            <button class="btn btn-red">See Detail</button>
                        </div>
                    </div>
                    <div class="portfolio-item">
                        <div class="portfolio-item-image">
                            <img src="./sources/image/images (15).jpg" alt="Image">
                        </div>
                        <div class="portfolio-item-body">
                            <h2 class="portfolio-item-title">Lorem ipsum dolor sit amet.</h2>
                            <p class="portfolio-item-identity">Crafted by <span class="author">Stevan Andreas</span> |
                                <span class="date">29/08/2024</span> | <span class="views">24</span> views | <span
                                    class="comments">0</span> Comments
                            </p>
                            <p class="mb-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                consectetur neque enim in? Quo dicta omnis eos iusto voluptate, officia iste quod, nihil
                                tenetur nobis reiciendis iure velit quis expedita cum veritatis tempora! Assumenda
                                architecto, maxime unde dignissimos dolores sit explicabo doloremque natus numquam nisi
                                reprehenderit libero hic accusamus ipsum?</p>
                            <button class="btn btn-red">See Detail</button>
                        </div>
                    </div>
                    <div class="portfolio-item">
                        <div class="portfolio-item-image">
                            <img src="./sources/image/images (15).jpg" alt="Image">
                        </div>
                        <div class="portfolio-item-body">
                            <h2 class="portfolio-item-title">Lorem ipsum dolor sit amet.</h2>
                            <p class="portfolio-item-identity">Crafted by <span class="author">Stevan Andreas</span> |
                                <span class="date">29/08/2024</span> | <span class="views">24</span> views | <span
                                    class="comments">0</span> Comments
                            </p>
                            <p class="mb-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                consectetur neque enim in? Quo dicta omnis eos iusto voluptate, officia iste quod, nihil
                                tenetur nobis reiciendis iure velit quis expedita cum veritatis tempora! Assumenda
                                architecto, maxime unde dignissimos dolores sit explicabo doloremque natus numquam nisi
                                reprehenderit libero hic accusamus ipsum?</p>
                            <button class="btn btn-red">See Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Portfolio Section -->
        <!-- Testimonials Section -->
        <section id="testimonials">
            <div class="container">
                <h1 class="section-title">What they say about WebtechID?</h1>
                <div class="testimonials-container">
                    <div class="testimonials-item">
                        <div class="testimonials-item-profile">
                            <img src="./sources/image/images (13).jpg" alt="Profile Picture">
                        </div>
                        <div class="testimonials-item-body">
                            <h3>Jackie Sun</h3>
                            <div class="star-container">
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                            </div>
                            <p style="display: none;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
                                temporibus cupiditate
                                fuga maiores? Nemo enim quibusdam repellendus autem. Officia, in. Corporis aliquid quam
                                nostrum!</p>
                        </div>
                    </div>
                    <div class="testimonials-item">
                        <div class="testimonials-item-profile">
                            <img src="./sources/image/images (13).jpg" alt="Profile Picture">
                        </div>
                        <div class="testimonials-item-body">
                            <h3>Jackie Sun</h3>
                            <div class="star-container">
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                            </div>
                            <p style="display: none;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
                                temporibus cupiditate
                                fuga maiores? Nemo enim quibusdam repellendus autem. Officia, in. Corporis aliquid quam
                                nostrum!</p>
                        </div>
                    </div>
                    <div class="testimonials-item active">
                        <div class="testimonials-item-profile">
                            <img src="./sources/image/images (13).jpg" alt="Profile Picture">
                        </div>
                        <div class="testimonials-item-body">
                            <h3>Jackie Sun</h3>
                            <div class="star-container">
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                            </div>
                            <p style="display: none;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
                                temporibus cupiditate
                                fuga maiores? Nemo enim quibusdam repellendus autem. Officia, in. Corporis aliquid quam
                                nostrum!</p>
                        </div>
                    </div>
                    <div class="testimonials-item">
                        <div class="testimonials-item-profile">
                            <img src="./sources/image/images (13).jpg" alt="Profile Picture">
                        </div>
                        <div class="testimonials-item-body">
                            <h3>Jackie Sun</h3>
                            <div class="star-container">
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                            </div>
                            <p style="display: none;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
                                temporibus cupiditate
                                fuga maiores? Nemo enim quibusdam repellendus autem. Officia, in. Corporis aliquid quam
                                nostrum!</p>
                        </div>
                    </div>
                    <div class="testimonials-item">
                        <div class="testimonials-item-profile">
                            <img src="./sources/image/images (13).jpg" alt="Profile Picture">
                        </div>
                        <div class="testimonials-item-body">
                            <h3>Jackie Sun</h3>
                            <div class="star-container">
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                                <div class="star-item">★</div>
                            </div>
                            <p style="display: none;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
                                temporibus cupiditate
                                fuga maiores? Nemo enim quibusdam repellendus autem. Officia, in. Corporis aliquid quam
                                nostrum!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Testimonials Section -->
    </main>

    <!-- Footer -->
    <footer>
        <div class="socials">
            <a href="#"><img src="./sources/socials/instagram.png" alt="Instagram Icon"></a>
            <a href="#"><img src="./sources/socials/fb.png" alt="Facebook Icon"></a>
            <a href="#"> <img src="./sources/socials/youtube.png" alt="Youtube Icon"></a>
        </div>
        <div class="copyright">
            <p>Copyright @WebtechID 2024 | Designer by : Stevan Andreas</p>
        </div>
    </footer>
    <!-- /Footer -->

    <script src="script.js"></script>
</body>

</html>