:root {
    --red: #730000;
    --yellow: #FFC700;
    --navy: #364784;
}

@font-face {
    font-family: 'Poppins';
    src:
        url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src:
        url('fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 20rem;
}

.btn {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 1rem;
    border-radius: .25rem;
    border: unset;
    outline: none;
}

.btn-red {
    background-color: var(--red);
    color: white !important;
}

.btn-yellow {
    background-color: var(--yellow);
    color: white !important;
}

.btn-navy {
    background-color: var(--navy);
    color: white !important;
}

.c-red {
    color: var(--red);
}

.author,
.date,
.views,
.comments {
    font-weight: bold;
}

/* Nav */

nav#mobile {
    display: none;
}

nav {
    width: 100%;
    padding: 30px 0;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.329);
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item img {
    width: 30%;
}

.nav-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin: 0;
    padding: 0;
}

.nav-item li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item a {
    color: var(--yellow);
    text-decoration: none;
    font-size: 20px;
}

.nav-item a:hover {
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.356);
}

.nav-item .active {
    font-weight: bold;
    color: var(--red);
}

/* Slider */

.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    color: var(--yellow);
    font-weight: bold;
    font-size: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.267);
}

/* Section */
section {
    margin-top: 10rem;
}

.section-title {
    font-size: 35px;
    color: var(--yellow);
    position: relative;
}

.section-title::after {
    content: '';
    width: 150px;
    border-bottom: 3px solid var(--yellow);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Gallery */
#gallery {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-container .item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.gallery-container .item2 {
    grid-column: 3 / span 2;
    grid-row: 1 / 2;
}

.gallery-container .item3 {
    grid-column: 5 / span 2;
    grid-row: 1 / 2;
}

.gallery-container .item4 {
    grid-column: 3 / span 2;
    grid-row: 2 / 3;
}

.gallery-container .item5 {
    grid-column: 5 / span 2;
    grid-row: 2 / 3;
}

/* About */
#about {
    background-color: var(--red);
    padding: 50px 0;
    position: relative;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.image-left {
    width: 200px;
    height: auto;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-120px);
    /* Mengangkat gambar ke atas */
}

.image-right {
    width: 200px;
    height: auto;
    border: 2px solid #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(120px);
    /* Menurunkan gambar ke bawah */
}

.text-center {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin: 0 20px;
}

/* News */
.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.news-item {
    position: relative;
}

.news-image img {
    width: 100%;
}

.news-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60%;
    padding: 10px 20px;
    background-color: var(--red);
    font-size: medium;
}

.news-title a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all .2s;
}

.news-title a:hover {
    transition: all .2s;
    padding: 20px;
}

#news .see {
    margin-top: 50px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
}

/* Services */
.services-item {
    background-color: var(--red);
    padding: 15px 40px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-item-title {
    width: 20%;
}

.services-item-description {
    width: 60%;
}

.services-item-action {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
    font-weight: bold;
}

.services-item-action:hover {
    margin-left: 10px;
    transform: translate(10px);
}

/* Portfolio */
header#portfolio {
    background-image: url('./sources/image/images\ \(11\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15rem;
    color: var(--yellow) !important;
    text-align: center;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;
    margin-bottom: 20px;
}

.portfolio-item img {
    width: 100%;
    border-radius: 5px;
}

.portfolio-item-title {
    color: var(--yellow);
    margin: 0;
    padding: 0;
}

.portfolio-item-identity {
    font-size: small;
    color: var(--navy);
    margin: 0;
}

.modal {
    display: none;
}

.modal.active {
    display: block;
}

.modal::before {
    content: '';
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.modal-container {
    position: fixed;
    z-index: 100;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 5px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    height: 500px;
    width: 90%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--yellow);
}

.modal.active #btn-close {
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: var(--red);
    border-radius: 100%;
    color: white;
    cursor: pointer;
}

/* Testimonials */
.testimonials-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    width: 100%;
    padding-top: 80px;
}

.testimonials-item {
    background-color: var(--red);
    opacity: .5;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 500px;
    height: 160px;
    transition: all .5s;
    cursor: pointer;
}

.testimonials-item.active {
    height: unset;
    opacity: unset;
    transition: all .5s;
    transform: translateY(-30%);
}

.testimonials-item.active p {
    display: block !important;
}

.testimonials-item img {
    width: 30%;
    border-radius: 100%;
}

.testimonials-item h3 {
    margin: 0;
    padding: 0;
}

.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yellow);
    font-size: 30px;
}

.testimonials-item p {
    font-size: small;
}


/* Footer */
footer {
    background-color: var(--red);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 30px 20px;
    margin-top: 10rem;
}

footer .socials {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer img {
    width: 100%;
}


@media screen and (max-width: 768px) {
    nav {
        padding: 10px;
    }

    .nav-item img {
        width: 30%;
    }

    nav .nav-item:nth-child(2) {
        display: none;
    }

    nav #btn-close {
        border: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40px;
        height: 40px;
        background-color: var(--red);
        border-radius: 100%;
        color: white;
    }

    nav#mobile {
        display: block;
    }

    nav#mobile {
        position: fixed;
        height: 100%;
        width: 50%;
        left: 6500px;
        top: 0;
        transition: all 1s ease-in-out;
    }

    nav#mobile ul {
        flex-direction: column;
        text-align: right;
        justify-content: end;
        align-items: end;
        gap: 20px;
    }

    .nav-item a {
        font-size: medium;
    }

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40px;
        height: 40px;
        background-color: var(--red);
        border-radius: 100%;
    }

    .burger span {
        border-bottom: 1.5px solid white;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 45%;
    }

    .container {
        padding: 10px 20px;
    }

    /* .gallery-container {
        display: block;
    } */

    /* .gallery-item {
        margin-bottom: 10px;
    } */

    /* .about-container {
        flex-direction: column;
    } */

    /* .news-container {
        flex-direction: column;
    } */

    .news-title {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 60%;
        padding: 10px 20px;
        background-color: #730000a1;
        font-size: small;
    }

    #news .see {
        margin-top: 50px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        width: 50%;
    }

    .services-item {
        flex-direction: column;
        padding: 15px !important;
    }

    .services-item-title,
    .services-item-description {
        width: auto;
    }

    .portfolio-item {
        flex-direction: column;
    }

    .portfolio-item .btn {
        width: 100%;
    }

    .testimonials-container {
        flex-direction: column;
    }

    .testimonials-item {
        width: auto;
        height: 300px;
    }

    .testimonials-item.active {
        transform: unset;
    }

    footer {
        text-align: center;
        gap: 30px;
    }

    footer .socials {
        width: 20%;
    }
}

@media screen and (max-width: 320px) {
    nav#mobile {
        position: fixed;
        height: 100%;
        width: 80%;
        left: 6500px;
        top: 0;
        transition: all 1s ease-in-out;
    }

    .container {
        padding: 10px 20px;
    }

    .gallery-container {
        display: block;
    }

    .gallery-item {
        margin-bottom: 10px;
    }

    .about-container {
        flex-direction: column;
    }

    .news-container {
        flex-direction: column;
    }

    .news-title {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 60%;
        padding: 10px 20px;
        background-color: #730000a1;
        font-size: small;
    }

    #news .see {
        margin-top: 50px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        width: 50%;
    }

    .services-item {
        flex-direction: column;
        padding: 15px !important;
    }

    .services-item-title,
    .services-item-description {
        width: auto;
    }

    header#portfolio {
        padding: 5rem;
        color: var(--yellow) !important;
        text-align: center;
    }

    .portfolio-item {
        flex-direction: column;
    }

    .testimonials-container {
        flex-direction: column;
    }

    .testimonials-item {
        width: auto;
        height: 250px;
    }

    .testimonials-item.active {
        transform: unset;
    }

    /* Footer */
    footer {
        text-align: center;
        flex-direction: column;
    }

    footer .socials {
        width: 50%;
    }
}